{% extends "main.html" %}

{% block title %}Test Message App | Home{% endblock %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"/>
  <div class="wrapper">
        <div class="container">
        <div class="image">
        <a href="https://ibb.co/XtnzpDP"><img src="https://i.ibb.co/gJ0Dwd8/robert-downey-jr-34.jpg" alt="robert-downey-jr-34" border="0" width="240"
 height="180"></a>
        </div>
        <strong>Роберт Дауни Младший</strong>
        <form>
            <label>Введите статус</label>
            <input type="text">
        </form>
<!--        <div class="rating">-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="fas fa-star"></i>-->
<!--          <i class="far fa-star"></i>-->
<!--        </div> -->
<!--        <p> I am a WordPress developer and IT administrator in Pakistan and have been working in web development for almost 10 years. <a href="">Create Profile Card in html</a></p>-->
        <div class="btns">
          <button> Изменить статус </button>
          <button>Continue </button>

        </div>
      </div>
    </div>
{% endblock %}